<nav>
  <ul>
    <li class="<%= pageTitle == 'Home' ? 'active' : '' %>">
      <a href="/">Home</a>
    </li>
    <li class="<%= pageTitle == 'Users' ? 'active' : '' %>">
      <a href="/users">Users</a>
    </li>
  </ul>
</nav>
